@tailwind base;
@tailwind components;
@tailwind utilities;
/* would like to ignore ./src/pages/og-image/[slug].png.ts */
@import "tailwindcss";
:root {
    --el-bg-color: rgba(255, 255, 255, 0.9);
    --el-fill-color-blank: rgba(255, 255, 255, 0.85);
}
/* config for tailwindcss-typography plugin */
* {
    margin: 0;
    padding: 0;
}

.el-dialog {
    min-width: 360px;
    padding: 0;
}
.el-dialog__header {
    padding: 10px 16px;
    border-bottom: 1px solid #e8e8e8;
}
.el-dialog__body {
    padding: 10px 16px;
}
.el-dialog__footer {
    padding: 10px 16px;
    border-top: 1px solid #e8e8e8;
    text-align: right;
}
.el-card__header {
    padding: 10px 16px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.6);
}
.el-card {
    border: none;
}
.el-loading-mask,.el-dialog__body,
.el-card, .el-card__body {
    --el-card-bg-color: rgba(255, 255, 255, 0.6);
    --tw-backdrop-blur: blur(var(--blur-md));
    -webkit-backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,) var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,) var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,) var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,) var(--tw-backdrop-sepia,);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
.el-card__body {
    padding: 10px;
}
@media only screen and (max-width: 480px) {
    .el-col-xs-12 {
        display: block;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.v-contextmenu {
    z-index: 10000;
    border-radius: 5px;
    overflow: hidden;
}